{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row mt-5">
        <div class="col-md-6 pt-2 section-title">
            <h2 class="bg-black"><b class="font-weight-bold">Ajouter une course</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col card border-light mb-3 bg-pink">
            <div class="card-body text-dark">
                <form action="/admin/add-passion " method="post">
                    <div class="row mt-3">
                        <div class="form-group col-md-8 offset-md-2">
                            <input type="text" class="form-control" name="runningName" placeholder="Course *"
                                    {% if inputValue['runningName'] is not empty%} value="{{ inputValue['runningName'] }}" {% endif %}/>
                            {% if inputValue['runningName'] is defined and inputValue['runningName'] is empty %}
                                <small class="text-danger">Ce champs ne doit pas être vide</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group col-md-4 offset-md-2">
                            <select class="form-control" name="runningType"  >
                                <option value="1">Trail</option>
                                <option value="2"> Course sur route</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" name="rank" min="0" placeholder="Classement *"
                            {% if inputValue['rank'] is not empty%} value="{{ inputValue['rank'] }}" {% endif %}/>
                            {% if inputValue['rank'] is defined and inputValue['rank'] is empty %}
                                <small class="text-danger">Ce champs ne doit pas être vide</small>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" name="participants" min="0" placeholder="Participants *"
                            {% if inputValue['participants'] is not empty%} value="{{ inputValue['participants'] }}" {% endif %}/>
                            {% if inputValue['participants'] is defined and inputValue['participants'] is empty %}
                                <small class="text-danger">Ce champs ne doit pas être vide</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="form-group col-md-4 offset-md-2">
                            <input type="time" class="form-control" name="runningTime" placeholder="Temps *"
                            {% if inputValue['runningTime'] is not empty%} value="{{ inputValue['runningTime'] }}" {% endif %}/>
                            {% if inputValue['runningTime'] is defined and inputValue['runningTime'] is empty %}
                                <small class="text-danger">Ce champs ne doit pas être vide</small>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                            <input type="date" class="form-control" name="dateRunning" placeholder="Date *"
                            {% if inputValue['dateRunning'] is not empty%} value="{{ inputValue['dateRunning'] }}" {% endif %}/>
                            {% if inputValue['dateRunning'] is defined and inputValue['dateRunning'] is empty %}
                                <small class="text-danger">Ce champs ne doit pas être vide</small>
                            {% endif %}
                        </div>
                    </div>
                    <input class="btn btn-dark bg-black mt-4" type="submit" value="Ajouter">
                </form>
            </div>
        </div>
    </div>

{% endblock %}


